{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}


<div class="flash">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong></li>
            {% endfor %}    
        </ul>
    {% endif %}
    {% endwith %}
</div>

<!-- Page Content -->
<section id="cityDetail" class="section">

    <div class="container">

        <div class="row">

            {% include "regions.html" %}

            <div class="col-md-9 padding-top-49">

                <div class="thumbnail">
                    <img class="img-responsive" src="{{ city.picture }}" alt="{{ city.name }}">
                    <div class="caption-full">
                        <h6 class="pull-right padding-left-10">
                            <a href = "{{url_for('deleteCity', region_name = city.region.name, city_name = city.name)}}">Delete</a>
                        </h6>
                        <h6 class="pull-right">
                            <a href = "{{url_for('editCity', region_name = city.region.name, city_name = city.name)}}">Edit</a>
                        </h6>
                        <h4>{{ city.name }}</h4>
                        <p>{{ city.description }}</p>
                    </div>

                </div>

            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section -->

{% endblock %}