{% extends "base.html" %}
{% include "nav.html" %}
{% block content %}

<section id="deleteCity" class="section">
    <div class="section-content container padding-1-5">
        <h1>Delete City</h1>
        <p class="padding-top-10">Are you sure you want to delete {{city.name}}?</p>

        <form action="{{url_for('deleteCity', region_name = city.region.name, city_name = city.name)}}" method = "post">
            <div class="form-group padding-top-10">
                <button type="submit" id="submit" class="btn btn-danger">Delete</button>
                <a href="{{url_for('showRegion', region_name = city.region.name)}}">
                    <button type="button" class="btn btn-default">Cancel</button>
                </a>
            </div>
        </form>
    </div>
</section>

{% endblock %}